fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
python-dotenv
argon2-cffi
pydantic>=2
celery
redis
numpy
torch
nflows==0.14
scikit-learn
httpx
email-validator
python-multipart
fastapi-mail
jinja2
Pillow
pynwb
tifffile
